.header {
    width: 100vw;
    height: 80vh;
    position: relative;

    background-image: url('../../../assets/images/header/earth.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    border-bottom-left-radius: 52px;
    border-bottom-right-radius: 52px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.top-div {
    position: absolute;
    top: 0px;
    width: 100%;
    padding: 1rem;

    display: flex;
    justify-content: center;
    margin-top: 15px;
}


.header h1 {
    color: var(--white);
    font-weight: 600;
    font-size: 2.5rem;
}

