* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.page {
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-bottom: 100px;
}

.imgHotelPage {
  height: 378px;
  width: 100vw;
  object-fit: cover;
}

.boxHotelPage {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 50px;

  width: 60%;

  margin-left: auto;
  margin-right: auto;
}

.infoHotelPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;
}

.hotelNameHotelPage {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;

  color: #161414;
}

.infoHotelHotelPage {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  text-align: left;
  color: #161414;
}

.cityCountryHotelPage {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  /* identical to box height */

  color: #979797;
}

.buttonBookNow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 24px;
  gap: 8px;
  color: #ffff;

  width: 168px;
  height: 72px;

  background: #7b61ff;
  border-radius: 12px;
  border: #ffff;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
}
